Program: 00_build_ds  
Date: July 2, 2019  
Programmer: Hillary Mulder  
Purpose: Build analysis data set for the PMP pilot project

In [2]:
setwd('/mnt/workspace/DCRI/Data')
library(dplyr)

aimhigh=read.csv('aimhigh.csv')
bari=read.csv('bari2d.csv')
allhat=read.csv('allhat.csv')
accord=read.csv('accord.csv')

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [12]:
colnames(aimhigh)
nrow(aimhigh)
table(aimhigh$study.1)

 [1] "person_id"  "age"        "Sex"        "Race"       "Race2"
 [6] "BMI"        "weight"     "height"     "Toba"       "Htn"
[11] "HxDM"       "HxMIStr"    "revasc"     "BP.s"       "BP.d"
[16] "LDL"        "HDL"        "TChol"      "Trig"       "HMG"
[21] "asprin"     "antihyp"    "MI"         "HxStr"      "CABG"
[26] "PCI"        "Loop"       "thiazide"   "KDiur"      "ARB"
[31] "AceI"       "Dihy"       "nonDihy"    "BetaB"      "rese"
[36] "othBPmed"   "ONitra"     "nslNitrate" "TZD"        "VASO"
[41] "Cent"       "AlphaB"     "K"          "dthDays"    "dthStat"
[46] "study"      "studyIDI"   "DIUR"       "CaCB"       "study.1"

[1] 4273

AIMHIGH
   4273

In [13]:
colnames(accord)
nrow(accord)
table(accord$study.1)

 [1] "person_id"  "age"        "Sex"        "Race"       "Race2"
 [6] "BMI"        "weight"     "height"     "Toba"       "Htn"
[11] "HxDM"       "HxMIStr"    "revasc"     "BP.s"       "BP.d"
[16] "LDL"        "HDL"        "TChol"      "Trig"       "HMG"
[21] "asprin"     "antihyp"    "MI"         "HxStr"      "CABG"
[26] "PCI"        "Loop"       "thiazide"   "KDiur"      "ARB"
[31] "AceI"       "Dihy"       "nonDihy"    "BetaB"      "rese"
[36] "othBPmed"   "ONitra"     "nslNitrate" "TZD"        "VASO"
[41] "Cent"       "AlphaB"     "K"          "dthDays"    "dthStat"
[46] "study"      "studyIDI"   "DIUR"       "CaCB"       "study.1"

[1] 10251

ACCORD
 10251

In [14]:
colnames(allhat)
nrow(allhat)
table(allhat$study.1)

 [1] "person_id"  "age"        "Sex"        "Race"       "Race2"
 [6] "BMI"        "weight"     "height"     "Toba"       "Htn"
[11] "HxDM"       "HxMIStr"    "revasc"     "BP.s"       "BP.d"
[16] "LDL"        "HDL"        "TChol"      "Trig"       "HMG"
[21] "asprin"     "antihyp"    "MI"         "HxStr"      "CABG"
[26] "PCI"        "Loop"       "thiazide"   "KDiur"      "ARB"
[31] "AceI"       "Dihy"       "nonDihy"    "BetaB"      "rese"
[36] "othBPmed"   "ONitra"     "nslNitrate" "TZD"        "VASO"
[41] "Cent"       "AlphaB"     "K"          "dthDays"    "dthStat"
[46] "study"      "studyIDI"   "DIUR"       "CaCB"       "study.1"

[1] 24316

ALLHAT
 24316

In [15]:
colnames(bari)
nrow(bari)
table(bari$study.1)

 [1] "person_id"  "age"        "Sex"        "Race"       "Race2"
 [6] "BMI"        "weight"     "height"     "Toba"       "Htn"
[11] "HxDM"       "HxMIStr"    "revasc"     "BP.s"       "BP.d"
[16] "LDL"        "HDL"        "TChol"      "Trig"       "HMG"
[21] "asprin"     "antihyp"    "MI"         "HxStr"      "CABG"
[26] "PCI"        "Loop"       "thiazide"   "KDiur"      "ARB"
[31] "AceI"       "Dihy"       "nonDihy"    "BetaB"      "rese"
[36] "othBPmed"   "ONitra"     "nslNitrate" "TZD"        "VASO"
[41] "Cent"       "AlphaB"     "K"          "dthDays"    "dthStat"
[46] "study"      "studyIDI"   "DIUR"       "CaCB"       "study.1"

[1] 2368

BARI2D
  2368

In [6]:
head(aimhigh)

  person_id age Sex Race Race2 BMI  weight height Toba Htn ⋯ Cent AlphaB K
1 22002848  57  1   8    1     31.1 90     170    0    1   ⋯ NA   NA     NA
2 22003565  68  1   3    1     33.8 76     150    0    0   ⋯ NA   NA     NA
3 22002026  60  1   3    1     28.4 87     175    0    0   ⋯ NA   NA     NA
4 22006158  71  1   3    1     28.4 85     173    0    1   ⋯ NA   NA     NA
5 22002409  53  2   3    1     31.9 90     168    0    0   ⋯ NA   NA     NA
6 22000264  58  1   3    1     26.5 84     178    0    0   ⋯ NA   NA     NA
  dthDays dthStat study   studyIDI DIUR CaCB study.1
1 1467    NA      AIMHIGH 2848     0    0    AIMHIGH
2   NA    NA      AIMHIGH 3565     0    0    AIMHIGH
3 1546    NA      AIMHIGH 2026     0    1    AIMHIGH
4  498     1      AIMHIGH 6158     1    1    AIMHIGH
5 1469    NA      AIMHIGH 2409     0    0    AIMHIGH
6 1870    NA      AIMHIGH  264     1    0    AIMHIGH

In [3]:
dat=rbind(aimhigh, allhat) %>% rbind(accord) %>% rbind(bari)
#head(dat)
#table(dat$study.1, useNA="ifany")
#table(dat$antihyp)
#nrow(dat)
#summary(dat$BP.s)
#table(dat$dthStat, dat$study.1, useNA="ifany")

In [24]:
#missing=subset(dat, person_id==NA)
#nrow(missing)

[1] 0

In [4]:
hyp=subset(dat, BP.s>=130 | BP.d>=80 | Htn==1 | antihyp==1)

hyp$type_hyp=ifelse(hyp$BP.s>=130 & hyp$BP.d<80, 'Systolic',
    ifelse(hyp$BP.s<130 & hyp$BP.d>=80,'Diastiolic',
           ifelse(hyp$BP.s>=130 & hyp$BP.d>=80,'Both','Controlled')))
#table(hyp$Htn, hyp$study.1, useNA="ifany")
hyp$Htn=ifelse(is.na(hyp$Htn) & hyp$study.1=='ACCORD', 0, hyp$Htn)
#table(hyp$Htn, hyp$study.1, useNA="ifany")

In [5]:
hyp$dthStat=ifelse(is.na(hyp$dthStat) & hyp$study.1=='AIMHIGH', 0, hyp$dthStat)
hyp$dthStat=ifelse(hyp$study.1=='ACCORD', 1-hyp$dthStat, hyp$dthStat)
#https://stackoverflow.com/questions/23479512/stratified-random-sampling-from-data-frame

hyp %>%
    select(study.1, BP.s, BP.d, dthDays) %>%
    group_by(study.1) %>%
    summarise(days_mean = mean(dthDays, na.rm=T), days_median = median(dthDays, na.rm=T), min_days=min(dthDays, na.rm=T), max_days=max(dthDays, na.rm=T))

#1825 max days - censor for 5 year death
hyp$death = ifelse(hyp$dthDays>1825, 0, hyp$dthStat)
hyp$tdeath = ifelse(hyp$dthDays>1825, 1825, hyp$dthDays)
hyp$tdeath = ifelse(hyp$dthDays==0, 0.1, hyp$dthDays)
hyp %>%
    select(study.1, BP.s, BP.d, tdeath) %>%
    group_by(study.1) %>%
    summarise(days_mean = mean(tdeath, na.rm=T), days_median = median(tdeath, na.rm=T), min_days=min(tdeath, na.rm=T), max_days=max(tdeath, na.rm=T))

  study.1 days_mean days_median min_days   max_days
1 AIMHIGH 1215.670  1229.000    0.00000000 1985.00
2 ALLHAT  1188.524  1157.500    0.00000000 2177.00
3 ACCORD  1795.318  1818.711    0.04166666 2556.75
4 BARI2D  1802.079  1828.000    1.00000000 2840.00

  study.1 days_mean days_median min_days   max_days
1 AIMHIGH 1215.671  1229.000    0.10000000 1985.00
2 ALLHAT  1188.524  1157.500    0.10000000 2177.00
3 ACCORD  1795.318  1818.711    0.04166666 2556.75
4 BARI2D  1802.079  1828.000    1.00000000 2840.00

In [6]:
set.seed(150)
train <- hyp %>% 
    select(study.1, person_id) %>%
    group_by(study.1) %>%
    sample_frac(0.75)

test <- hyp %>%
    select(study.1, person_id) %>%
   filter(!person_id %in% train$person_id)

train$train=1
test$test=1


head(train)
head(test)
nrow(train)
nrow(test)

  study.1 person_id train
1 AIMHIGH 22006737  1
2 AIMHIGH 22004066  1
3 AIMHIGH 22001750  1
4 AIMHIGH 22002919  1
5 AIMHIGH 22006172  1
6 AIMHIGH 22007348  1

  study.1 person_id test
1 AIMHIGH 22003565  1
2 AIMHIGH 22002265  1
3 AIMHIGH 22006755  1
4 AIMHIGH 22003652  1
5 AIMHIGH 22005161  1
6 AIMHIGH 22000359  1

[1] 30514

[1] 10171

In [7]:
head(hyp)
final = hyp %>% left_join(train, by=c("person_id",'study.1')) %>% left_join(test, by=c("person_id",'study.1'))
head(final)

  person_id age Sex Race Race2 BMI  weight height Toba Htn ⋯ dthDays dthStat
1 22002848  57  1   8    1     31.1 90     170    0    1   ⋯ 1467    0
2 22003565  68  1   3    1     33.8 76     150    0    0   ⋯   NA    0
3 22002026  60  1   3    1     28.4 87     175    0    0   ⋯ 1546    0
4 22006158  71  1   3    1     28.4 85     173    0    1   ⋯  498    1
5 22002409  53  2   3    1     31.9 90     168    0    0   ⋯ 1469    0
6 22000264  58  1   3    1     26.5 84     178    0    0   ⋯ 1870    0
  study   studyIDI DIUR CaCB study.1 type_hyp   death tdeath
1 AIMHIGH 2848     0    0    AIMHIGH Controlled  0    1467
2 AIMHIGH 3565     0    0    AIMHIGH Both       NA      NA
3 AIMHIGH 2026     0    1    AIMHIGH Controlled  0    1546
4 AIMHIGH 6158     1    1    AIMHIGH Controlled  1     498
5 AIMHIGH 2409     0    0    AIMHIGH Controlled  0    1469
6 AIMHIGH 264      1    0    AIMHIGH Both        0    1870

  person_id age Sex Race Race2 BMI  weight height Toba Htn ⋯ study   studyIDI
1 22002848  57  1   8    1     31.1 90     170    0    1   ⋯ AIMHIGH 2848
2 22003565  68  1   3    1     33.8 76     150    0    0   ⋯ AIMHIGH 3565
3 22002026  60  1   3    1     28.4 87     175    0    0   ⋯ AIMHIGH 2026
4 22006158  71  1   3    1     28.4 85     173    0    1   ⋯ AIMHIGH 6158
5 22002409  53  2   3    1     31.9 90     168    0    0   ⋯ AIMHIGH 2409
6 22000264  58  1   3    1     26.5 84     178    0    0   ⋯ AIMHIGH 264
  DIUR CaCB study.1 type_hyp   death tdeath train test
1 0    0    AIMHIGH Controlled  0    1467    1    NA
2 0    0    AIMHIGH Both       NA      NA   NA     1
3 0    1    AIMHIGH Controlled  0    1546    1    NA
4 1    1    AIMHIGH Controlled  1     498    1    NA
5 0    0    AIMHIGH Controlled  0    1469    1    NA
6 1    0    AIMHIGH Both        0    1870    1    NA

In [4]:
table(hyp$study.1)
table(hyp$antihyp)
table(hyp$type_hyp)
colnames(hyp)

AIMHIGH  ALLHAT  ACCORD  BARI2D
   4196   24316    9842    2331

    0     1
 3797 36887

      Both Controlled Diastiolic   Systolic
     20592       7766       2114      10134

 [1] "person_id"  "age"        "Sex"        "Race"       "Race2"
 [6] "BMI"        "weight"     "height"     "Toba"       "Htn"
[11] "HxDM"       "HxMIStr"    "revasc"     "BP.s"       "BP.d"
[16] "LDL"        "HDL"        "TChol"      "Trig"       "HMG"
[21] "asprin"     "antihyp"    "MI"         "HxStr"      "CABG"
[26] "PCI"        "Loop"       "thiazide"   "KDiur"      "ARB"
[31] "AceI"       "Dihy"       "nonDihy"    "BetaB"      "rese"
[36] "othBPmed"   "ONitra"     "nslNitrate" "TZD"        "VASO"
[41] "Cent"       "AlphaB"     "K"          "dthDays"    "dthStat"
[46] "study"      "studyIDI"   "DIUR"       "CaCB"       "study.1"
[51] "type_hyp"

In [8]:
write.csv(final, 'analysis_ds.csv', row.names=FALSE)

In [27]:
anly=read.csv('analysis_ds.csv')

In [28]:
table(anly$study.1)
nrow(anly)

 ACCORD AIMHIGH  ALLHAT  BARI2D
   9842    4196   24316    2331

[1] 40685

In [16]:
sub=anly[anly$study.1=='',]

In [18]:
nrow(sub)
head(sub)

[1] 422

     person_id age Sex Race Race2 BMI weight height Toba Htn ⋯ AlphaB K
NA   NA        NA  NA  NA   NA    NA  NA     NA     NA   NA  ⋯ NA     NA
NA.1 NA        NA  NA  NA   NA    NA  NA     NA     NA   NA  ⋯ NA     NA
NA.2 NA        NA  NA  NA   NA    NA  NA     NA     NA   NA  ⋯ NA     NA
NA.3 NA        NA  NA  NA   NA    NA  NA     NA     NA   NA  ⋯ NA     NA
NA.4 NA        NA  NA  NA   NA    NA  NA     NA     NA   NA  ⋯ NA     NA
NA.5 NA        NA  NA  NA   NA    NA  NA     NA     NA   NA  ⋯ NA     NA
     dthDays dthStat study studyIDI DIUR CaCB study.1 type_hyp
NA   NA      NA      NA    NA       NA   NA   NA      NA
NA.1 NA      NA      NA    NA       NA   NA   NA      NA
NA.2 NA      NA      NA    NA       NA   NA   NA      NA
NA.3 NA      NA      NA    NA       NA   NA   NA      NA
NA.4 NA      NA      NA    NA       NA   NA   NA      NA
NA.5 NA      NA      NA    NA       NA   NA   NA      NA